matplotlib==2.2.2
numpy==1.16.4
shapely==1.6.4.post2
ortools==7.1.6720
Dijkstar==2.4.0
networkx==2.3

# For code analysis:
pprofile
pyinstrument

# For the worker:
boto3
requests

# For tests and linting:
pytest
pylint==2.3.1
