numpy==1.16.4
shapely==1.6.4.post2
Dijkstar==2.4.0
networkx==2.3

# For code analysis:
pprofile
pyinstrument

# For the worker:
boto3
requests

# For tests and linting:
pytest
pylint==2.3.1

# Needed for ortools
cppyy==1.4.11
cppyy-backend==1.8.4
cppyy-cling==6.15.2.9
